#!/bin/bash

log_name="automatice.sh |"

echo "$log_name automatizando dia $1, año 2021"

mkdir -p "src/day$1"

echo "$log_name curl: Escribiendo en input"
curl -X GET "https://adventofcode.com/2021/day/$1/input" -H "Cookie: session=<tu-cookie>" >"src/day$1/input"
cat app/day$1/input
echo "$log_name curl: Escrito en input"

echo "$log_name basic.txt: Escribiendo en Day$1.hs"
cat basic.txt >"src/day$1/Day$1.hs"
echo "$log_name basic.txt: Escrito en Day$1.hs"
